Object-detection/faster_rcnn_inception_resnet_v2_atrous_coco.zip filter=lfs diff=lfs merge=lfs -text
Object-detection/yolo-v3-tf.zip filter=lfs diff=lfs merge=lfs -text
Segmentation/midasnet.zip filter=lfs diff=lfs merge=lfs -text
Instance-segmentation/mask_rcnn_inception_resnet_v2_atrous_coco.zip filter=lfs diff=lfs merge=lfs -text
Classification/efficientnet-b5.zip filter=lfs diff=lfs merge=lfs -text
Classification/octave-se-resnet-50-0.125.zip filter=lfs diff=lfs merge=lfs -text
Classification/vgg19.zip filter=lfs diff=lfs merge=lfs -text
Classification/alexnet.zip filter=lfs diff=lfs merge=lfs -text
